@media (max-width: 640px) {
  /* header */
  .header__img-logo {
    width: 183px;
    height: 48px;
  }

  .header__cart {
    margin-right: 24px;
  }

  .header__img-cart {
    width: 31px;
    height: 36px;
  }

  .header__cart-item-counter.added-item-in-cart {
    position: absolute;
    top: 12px;
    right: -26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #ffffff;
    border-radius: 16px;
    pointer-events: none;
  }

  /* grid area category page mobile */
  .category-page__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "filter sort"
      "vitrine vitrine";
  }

  /* category page */
  .category-page__wrapper {
    padding: 0 40px 0 30px;
  }

  /* card */
  .vitrine__product-group {
    grid-template-columns: repeat(auto-fit, 265px);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }

  .product-card__img {
    width: 100%;
    margin-bottom: 16px;
  }

  .product-card__info {
    margin-bottom: 15px;
  }

  .product-card__title {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .product-card__price {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .product-card__installments {
    font-size: 19px;
    line-height: 24px;
  }

  .product-card__buy-btn {
    width: 265px;
    height: 57px;
    font-size: 19px;
    line-height: 24px;
  }
}
