@media (max-width: 640px) {
  /* header */
  .header__img-logo {
    width: 183px;
    height: 48px;
  }

  .header__cart {
    margin-right: 24px;
  }

  .header__img-cart {
    width: 31px;
    height: 36px;
  }

  .header__cart-item-counter.added-item-in-cart {
    position: absolute;
    top: 12px;
    right: -26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #ffffff;
    border-radius: 16px;
    pointer-events: none;
  }

  /* grid area category page mobile */
  .category-page__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "filter order"
      "vitrine vitrine";
  }

  /* category page */
  .category-page__wrapper {
    padding: 0 40px 0 30px;
  }

  /* card */
  .vitrine__product-group {
    grid-template-columns: repeat(auto-fit, 265px);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }

  .product-card__img {
    width: 100%;
    margin-bottom: 16px;
  }

  .product-card__info {
    margin-bottom: 15px;
  }

  .product-card__title {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .product-card__price {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .product-card__installments {
    font-size: 19px;
    line-height: 24px;
  }

  .product-card__buy-btn {
    width: 265px;
    height: 57px;
    font-size: 19px;
    line-height: 24px;
  }

  /* order */
  .order {
    display: block;
  }

  .order__btn {
    display: block;
    width: 281px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #666666;
    font-size: 24px;
    letter-spacing: 2px;
    color: #666666;
    font-weight: 400;
    font-family: "Open Sans";
    cursor: pointer;
  }

  .dropdown-order {
    display: none;
  }

  .dropdown-order.select-order-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
  }

  .dropdown-order__select {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #666666;
    padding: 50px 50px 40px 40px;
  }

  .dropdown-order__selected-title {
    display: none;
  }

  .dropdown-order__arrow-down {
    display: none;
  }

  .dropdown-order__select-title-mobile {
    display: inherit;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #666666;
  }

  .dropdown-order__icon-x {
    display: inherit;
  }

  .dropdown-order__list {
    display: flex;
    flex-direction: column;
  }

  .dropdown-order__list-item {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 100px;
    color: #000000;
    margin-left: 44px;
    padding: 0;
  }

  /* pagination */

  .vitrine__btn-load-more {
    width: 247px;
    height: 65px;
    font-size: 22px;
  }
}
